/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
Theme Selection
*******************************/

/* To override a theme for an individual element
specify theme name below
*/

/* Global */
@site        : 'default';
@reset       : 'default';

/* Elements */
@button      : 'default';
@container   : 'default';
@divider     : 'default';
@flag        : 'default';
@header      : 'default';
@icon        : 'default';
@image       : 'default';
@input       : 'default';
@label       : 'default';
@list        : 'default';
@loader      : 'default';
@placeholder : 'default';
@rail        : 'default';
@reveal      : 'default';
@segment     : 'default';
@step        : 'default';

/* Collections */
@breadcrumb  : 'default';
@form        : 'default';
@grid        : 'default';
@menu        : 'default';
@message     : 'default';
@table       : 'default';

/* Modules */
@accordion   : 'default';
@checkbox    : 'default';
@dimmer      : 'default';
@dropdown    : 'default';
@embed       : 'default';
@modal       : 'default';
@nag         : 'default';
@popup       : 'default';
@progress    : 'default';
@rating      : 'default';
@search      : 'default';
@shape       : 'default';
@sidebar     : 'default';
@sticky      : 'default';
@tab         : 'default';
@transition  : 'default';

/* Views */
@ad          : 'default';
@card        : 'default';
@comment     : 'default';
@feed        : 'default';
@item        : 'default';
@statistic   : 'default';

/*******************************
Folders
*******************************/

@themesFolder : 'themes';
@siteFolder  : '../../src/semantic-ui/site';

@import (multiple) "~semantic-ui-less/theme.less";
@fontPath : '../../../themes/@{theme}/assets/fonts';


/*******************************
Button
*******************************/

/* Define Component */
.ui.button.default {
border: 4px solid @orange;
background-color: transparent;
color: @orange;
padding: 14px 28px;
cursor: pointer;

}
.ui.button.default:hover {
background: @orange;
color: black;
}

.ui.button.myBlack {
  border: 4px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size:20px;
}
.ui.button.myBlack:hover {
background: black;
color: white;
}

.ui.button.default:hover {
background: @orange;
color: black;
}


.ui.button.spookButton {
	font-family: phantom;
}

h3 {
	font-family:Clownoween;
	font-size:40px;
}

/*******************************
Import Theme
*******************************/


/* End Config */

