.App {
  text-align: center;
  color: orange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;

}

.Everything {
  text-align: center;
  color: orange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;

}

.ui.input.old {
  input {
    width: 100px;
    margin-right: 0px;
    margin-left: 0px;
    height:30px;
    color:red;
    background-color: transparent;
  }
}

.ui.modal.glow {
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(255,255,255,0.6);
}

.glow {
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(255,255,255,0.6);
}


.dialogueText {
  font-family: 'scarycandy';
  font-size:30px;
  letter-spacing: 1px;
}
/*
.ui.input.spookInput > input{
  font-family: 'phantom';
  font-size:5px;
}
*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* THIS IS WHERE IT WORKS */
/*'Clownoween'*/
.modalText {
    font-family: 'scarycandy','Segoe UI', 'Oxygen', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
  }

.intro {
    font-family: 'Clownoween','Segoe UI', 'Oxygen', sans-serif;
    font-size: 30px;

  }

  .dropdownTitle {
    font-family: 'Clownoween','Segoe UI', 'Oxygen', sans-serif;
    font-size: 30px;
  }

  .modalTitle {
     font-family: 'Clownoween','Segoe UI', 'Oxygen', sans-serif;
    font-size: 50px;
    padding-top: 15px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
